operation   ++      resource                   ++   type   
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{{ range .ResourceChange }}
{{ .Change.Actions }}   ++  {{ .Address }}  ++  {{ .Type }} 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{{ end }} 
